 body {
     background-color: #fff;
     background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
     background-size: 100% 1.2em;
 }
 
 .img {
     margin-top: 30px;
 }
 
 .img1 {
     height: 540px;
     width: auto;
 }
 
 .example_3 {
     padding-top: 150px;
 }
 
 .maybay {
     padding-top: 0px;
     padding-left: 450px;
 }
 
 .example1 {
     height: 60px;
     width: auto;
 }
 
 .camere {
     padding-top: 450px;
     padding-left: 450px;
 }
 
 .example2 {
     height: 60px;
     width: auto;
 }
 
 .example3 {
     height: 60px;
     width: auto;
 }
 
 .container {
     padding-top: 30px;
 }